<div class="uiVictory">
	<div class="logo"></div>
	<div class="panel">
		<div class="btn btnRetry">Replay (r)</div>
	</div>
	<div class="info">
		<div class="text">The war is over. For now.</div>
	</div>
</div>
