<div class="uiMenu">
	<div class="logo"></div>
	<div class="panel">
		<div class="btn btnPlay">Play (p)</div>
		<div class="btn btnMute">Mute (m)</div>
	</div>
	<div class="info">
		<div class="text">"When the rich wage war, it's the poor who die." - Jean-Paul Sartre</div>
	</div>
</div>
