@import "../../../css/colors.less";

@pad: 8px;

.uiBuilder {
	width: 350px;

	background-color: fade(@blackC, 85%);
	color: @white;
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	display: none;
	height: 170px;

	.title {
		flex: 1;
		color: @blueA;
		height: 30px;
		text-align: center;

		&:before {
			content: '-- ';
		}

		&:after {
			content: ' --';
		}
	}
	.msg {
		flex: 1;
		color: @grayD;
		margin-bottom: 20px;
	}

	.btn {
		width: 40%;
		background-color: @blackA;
		color: @white;
		padding: 10px;
		text-align: center;
		cursor: pointer;
		margin: 0 auto;

		&:nth-child(3) {
			margin-bottom: 10px;
		}

		&:hover {
			background-color: @grayD;
		}
	}

	&.insufficient-wood {
		.msg {
			color: @redA;
			text-align: center;
		}

		.btnUpgrade {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}
