.uiBuilder {
  width: 350px;
  background-color: rgba(55, 48, 65, 0.85);
  color: #f2f5f5;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: none;
  height: 170px;
}
.uiBuilder .title {
  flex: 1;
  color: #48edff;
  height: 30px;
  text-align: center;
}
.uiBuilder .title:before {
  content: '-- ';
}
.uiBuilder .title:after {
  content: ' --';
}
.uiBuilder .msg {
  flex: 1;
  color: #69696e;
  margin-bottom: 20px;
}
.uiBuilder .btn {
  width: 40%;
  background-color: #505360;
  color: #f2f5f5;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}
.uiBuilder .btn:nth-child(3) {
  margin-bottom: 10px;
}
.uiBuilder .btn:hover {
  background-color: #69696e;
}
.uiBuilder.insufficient-wood .msg {
  color: #ff4252;
  text-align: center;
}
.uiBuilder.insufficient-wood .btnUpgrade {
  opacity: 0.5;
  pointer-events: none;
}
