@import "../../../css/colors.less";

@pad: 8px;

.uiInfo {
	position: absolute;
	background-color: @blackB;
	color: @white;
	padding: 10px;
	text-align: center;
	display: none;

	.needs {
		margin-top: 10px;
		color: @grayB;
		line-height: 18px;
	}
}
