.uiInfo {
  position: absolute;
  background-color: #3c3f4c;
  color: #f2f5f5;
  padding: 10px;
  text-align: center;
  display: none;
}
.uiInfo .needs {
  margin-top: 10px;
  color: #c0c3cf;
  line-height: 18px;
}
