.uiHud {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 64px;
  height: 280px;
  background-color: rgba(55, 48, 65, 0.7);
  color: #f2f5f5;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}
.uiHud .resource {
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.uiHud .resource .icon {
  width: 32px;
  height: 32px;
  margin-left: 4px;
}
.uiHud .resource .icon.iconCoins {
  background: url('../../../../images/ui.png') 0px 0px;
}
.uiHud .resource .icon.iconWood {
  background: url('../../../../images/ui.png') -32px 0px;
}
.uiHud .resource .icon.iconWater {
  background: url('../../../../images/ui.png') -64px 0px;
}
.uiHud .resource .icon.iconFood {
  background: url('../../../../images/ui.png') -96px 0px;
}
.uiHud .resource .amount {
  color: #f2f5f5;
  filter: drop-shadow(0px -2px 0px #312136) drop-shadow(0px 2px 0px #312136) drop-shadow(2px 0px 0px #312136) drop-shadow(-2px 0px 0px #312136);
  -moz-filter: drop-shadow(0px -2px 0px #312136) drop-shadow(0px 2px 0px #312136) drop-shadow(2px 0px 0px #312136) drop-shadow(-2px 0px 0px #312136);
}
