@import "../../../css/colors.less";

@pad: 8px;

.uiHud {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 64px;
	height: 280px;

	background-color: fade(@blackC, 70%);
	color: @white;
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: space-between;

	.resource {
		height: 54px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.icon {
			width: 32px;
			height: 32px;
			margin-left: 4px;

			&.iconCoins {
				background: url('../../../../images/ui.png') 0px 0px;
			}

			&.iconWood {
				background: url('../../../../images/ui.png') -32px 0px;
			}

			&.iconWater {
				background: url('../../../../images/ui.png') -64px 0px;
			}

			&.iconFood {
				background: url('../../../../images/ui.png') -96px 0px;
			}
		}

		.amount {
			color: @white;

			filter:
				drop-shadow(0px -2px 0px @blackD) 
				drop-shadow(0px 2px 0px @blackD)
				drop-shadow(2px 0px 0px @blackD) 
				drop-shadow(-2px 0px 0px @blackD);

			-moz-filter: 
				drop-shadow(0px -2px 0px @blackD) 
				drop-shadow(0px 2px 0px @blackD)
				drop-shadow(2px 0px 0px @blackD) 
				drop-shadow(-2px 0px 0px @blackD);
		}
	}
}
