<div class="uiHud">
	<div class="resource" type="coins" title="coins">
		<div class="icon iconCoins"></div>
		<div class="amount">0</div>
	</div>
	<div class="resource" type="food" title="food">
		<div class="icon iconFood"></div>
		<div class="amount">0</div>
	</div>
	<div class="resource" type="wood" title="wood">
		<div class="icon iconWood"></div>
		<div class="amount">0</div>
	</div>
	<div class="resource" type="water" title="water">
		<div class="icon iconWater"></div>
		<div class="amount">0</div>
	</div>
</div>
