@import "../../../css/colors.less";

@pad: 8px;

.uiLoss {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: fade(@black, 90%);

	.logo {
		background-image: url('../../../images/logo.png');
		width: 372px;
		height: 176px;
	}

	.panel {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 50px;

		.btn {
			background-color: @blackB;
			color: @white;
			width: 200px;
			padding: 10px;
			text-align: center;
			cursor: pointer;

			&:hover {
				background-color: @blackA;
				color: @blueA;
			}
		}
	}

	.info {
		width: 100%;
		text-align: center;
		margin-top: 50px;
		width: 372px;

		.text {
			color: @grayB;
			line-height: 20px;
		}
	}
}
