.uiLoss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 33, 54, 0.9);
}
.uiLoss .logo {
  background-image: url('../../../images/logo.png');
  width: 372px;
  height: 176px;
}
.uiLoss .panel {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.uiLoss .panel .btn {
  background-color: #3c3f4c;
  color: #f2f5f5;
  width: 200px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.uiLoss .panel .btn:hover {
  background-color: #505360;
  color: #48edff;
}
.uiLoss .info {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  width: 372px;
}
.uiLoss .info .text {
  color: #c0c3cf;
  line-height: 20px;
}
