<div class="uiLoss">
	<div class="logo"></div>
	<div class="panel">
		<div class="btn btnRetry">Retry (r)</div>
	</div>
	<div class="info">
		<div class="text">Your townsfolk have all perished. The war still rages.</div>
	</div>
</div>
