.q0 {
  color: #f2f5f5;
}
.q1 {
  color: #4ac441;
}
.q2 {
  color: #3fa7dd;
}
.q3 {
  color: #a24eff;
}
.q4 {
  color: #ff6942;
}
.color-red {
  color: #d43346 !important;
}
.color-redA {
  color: #ff4252 !important;
}
.color-blueA {
  color: #48edff !important;
}
.color-blueB {
  color: #3fa7dd !important;
}
.color-greenB {
  color: #4ac441 !important;
}
.color-yellowB {
  color: #faac45 !important;
}
.color-green {
  color: #80f643 !important;
}
.color-brownC {
  color: #b15a30 !important;
}
.color-brownD {
  color: #763b3b !important;
}
.color-grayA {
  color: #f2f5f5 !important;
}
.color-grayB {
  color: #c0c3cf !important;
}
.color-grayC {
  color: #929398 !important;
}
.color-grayD {
  color: #69696e !important;
}
.color-pinkB {
  color: #de43ae !important;
}
