@font-face {
  font-family: bitty;
  src: url('../fonts/bitty.ttf');
}
.loader-container {
  width: 100vw;
  height: 100vh;
}
.loader-container .loader {
  animation: loader-spin 1s linear infinite;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: calc(50% - 6px);
  transform: translateXY(-50%, -50%);
}
.loader-container .loader-text {
  position: absolute;
  top: calc(50% + 75px);
  width: 100%;
  text-align: center;
  font-size: 24px;
}
.loader-container .loader-text .top {
  color: #faac45;
}
.loader-container .loader-text .bottom {
  margin-top: 5px;
  color: #b15a30;
}
@keyframes loader-spin {
  0% {
    box-shadow: 0px -30px #42548d, 10px -30px #3fa7dd, 20px -20px #3fa7dd, 30px -10px #3fa7dd, 30px 0px #3fa7dd, 30px 10px #3fa7dd, 20px 20px #3fa7dd, 10px 30px #48edff, 0px 30px transparent, -10px 30px transparent, -20px 20px transparent, -30px 10px transparent, -30px 0px transparent, -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
  }
  6.25% {
    box-shadow: 0px -30px transparent, 10px -30px #42548d, 20px -20px #3fa7dd, 30px -10px #3fa7dd, 30px 0px #3fa7dd, 30px 10px #3fa7dd, 20px 20px #3fa7dd, 10px 30px #3fa7dd, 0px 30px #48edff, -10px 30px transparent, -20px 20px transparent, -30px 10px transparent, -30px 0px transparent, -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
  }
  12.5% {
    box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px #42548d, 30px -10px #3fa7dd, 30px 0px #3fa7dd, 30px 10px #3fa7dd, 20px 20px #3fa7dd, 10px 30px #3fa7dd, 0px 30px #3fa7dd, -10px 30px #48edff, -20px 20px transparent, -30px 10px transparent, -30px 0px transparent, -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
  }
  18.75% {
    box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px #42548d, 30px 0px #3fa7dd, 30px 10px #3fa7dd, 20px 20px #3fa7dd, 10px 30px #3fa7dd, 0px 30px #3fa7dd, -10px 30px #3fa7dd, -20px 20px #48edff, -30px 10px transparent, -30px 0px transparent, -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
  }
  25% {
    box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent, 30px 0px #42548d, 30px 10px #3fa7dd, 20px 20px #3fa7dd, 10px 30px #3fa7dd, 0px 30px #3fa7dd, -10px 30px #3fa7dd, -20px 20px #3fa7dd, -30px 10px #48edff, -30px 0px transparent, -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
  }
  31.25% {
    box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent, 30px 0px transparent, 30px 10px #42548d, 20px 20px #3fa7dd, 10px 30px #3fa7dd, 0px 30px #3fa7dd, -10px 30px #3fa7dd, -20px 20px #3fa7dd, -30px 10px #3fa7dd, -30px 0px #48edff, -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
  }
  37.5% {
    box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent, 30px 0px transparent, 30px 10px transparent, 20px 20px #42548d, 10px 30px #3fa7dd, 0px 30px #3fa7dd, -10px 30px #3fa7dd, -20px 20px #3fa7dd, -30px 10px #3fa7dd, -30px 0px #3fa7dd, -30px -10px #48edff, -20px -20px transparent, -10px -30px transparent;
  }
  43.75% {
    box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent, 30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px #42548d, 0px 30px #3fa7dd, -10px 30px #3fa7dd, -20px 20px #3fa7dd, -30px 10px #3fa7dd, -30px 0px #3fa7dd, -30px -10px #3fa7dd, -20px -20px #48edff, -10px -30px transparent;
  }
  50% {
    box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent, 30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent, 0px 30px #42548d, -10px 30px #3fa7dd, -20px 20px #3fa7dd, -30px 10px #3fa7dd, -30px 0px #3fa7dd, -30px -10px #3fa7dd, -20px -20px #3fa7dd, -10px -30px #48edff;
  }
  56.25% {
    box-shadow: 0px -30px #48edff, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent, 30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent, 0px 30px transparent, -10px 30px #42548d, -20px 20px #3fa7dd, -30px 10px #3fa7dd, -30px 0px #3fa7dd, -30px -10px #3fa7dd, -20px -20px #3fa7dd, -10px -30px #3fa7dd;
  }
  62.5% {
    box-shadow: 0px -30px #3fa7dd, 10px -30px #48edff, 20px -20px transparent, 30px -10px transparent, 30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent, 0px 30px transparent, -10px 30px transparent, -20px 20px #42548d, -30px 10px #3fa7dd, -30px 0px #3fa7dd, -30px -10px #3fa7dd, -20px -20px #3fa7dd, -10px -30px #3fa7dd;
  }
  68.75% {
    box-shadow: 0px -30px #3fa7dd, 10px -30px #3fa7dd, 20px -20px #48edff, 30px -10px transparent, 30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent, 0px 30px transparent, -10px 30px transparent, -20px 20px transparent, -30px 10px #42548d, -30px 0px #3fa7dd, -30px -10px #3fa7dd, -20px -20px #3fa7dd, -10px -30px #3fa7dd;
  }
  75% {
    box-shadow: 0px -30px #3fa7dd, 10px -30px #3fa7dd, 20px -20px #3fa7dd, 30px -10px #48edff, 30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent, 0px 30px transparent, -10px 30px transparent, -20px 20px transparent, -30px 10px transparent, -30px 0px #42548d, -30px -10px #3fa7dd, -20px -20px #3fa7dd, -10px -30px #3fa7dd;
  }
  81.25% {
    box-shadow: 0px -30px #3fa7dd, 10px -30px #3fa7dd, 20px -20px #3fa7dd, 30px -10px #3fa7dd, 30px 0px #48edff, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent, 0px 30px transparent, -10px 30px transparent, -20px 20px transparent, -30px 10px transparent, -30px 0px transparent, -30px -10px #42548d, -20px -20px #3fa7dd, -10px -30px #3fa7dd;
  }
  87.5% {
    box-shadow: 0px -30px #3fa7dd, 10px -30px #3fa7dd, 20px -20px #3fa7dd, 30px -10px #3fa7dd, 30px 0px #3fa7dd, 30px 10px #48edff, 20px 20px transparent, 10px 30px transparent, 0px 30px transparent, -10px 30px transparent, -20px 20px transparent, -30px 10px transparent, -30px 0px transparent, -30px -10px transparent, -20px -20px #42548d, -10px -30px #3fa7dd;
  }
  93.75% {
    box-shadow: 0px -30px #3fa7dd, 10px -30px #3fa7dd, 20px -20px #3fa7dd, 30px -10px #3fa7dd, 30px 0px #3fa7dd, 30px 10px #3fa7dd, 20px 20px #48edff, 10px 30px transparent, 0px 30px transparent, -10px 30px transparent, -20px 20px transparent, -30px 10px transparent, -30px 0px transparent, -30px -10px transparent, -20px -20px transparent, -10px -30px #42548d;
  }
  100% {
    box-shadow: 0px -30px #42548d, 10px -30px #3fa7dd, 20px -20px #3fa7dd, 30px -10px #3fa7dd, 30px 0px #3fa7dd, 30px 10px #3fa7dd, 20px 20px #3fa7dd, 10px 30px #48edff, 0px 30px transparent, -10px 30px transparent, -20px 20px transparent, -30px 10px transparent, -30px 0px transparent, -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
  }
}
