body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2136;
}
.ui-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #373041;
}
.ui-container > .bottom-left {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}
.ui-container > .bottom-left > * {
  margin-top: 10px;
}
* {
  box-sizing: border-box;
  font-family: bitty;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.canvas-container {
  position: relative;
  float: left;
}
.canvas-container.visible {
  opacity: 1;
  transition: 1s;
}
.canvas-container canvas {
  left: 0px;
  top: 0px;
}
.disabled {
  opacity: 0.4 !important;
  pointer-events: none !important;
}
[class^="ui"] input,
[class^="ui"] textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
[class^="ui"] .el {
  height: 35px;
  text-align: center;
  padding: 0px 0px 0px 0px;
  background-color: transparent;
}
[class^="ui"] .textbox {
  border: none;
  outline: none;
  font-size: 16px;
}
[class^="ui"] div.textbox {
  padding-top: 6px;
}
[class^="ui"] .button {
  cursor: pointer;
  padding-top: 10px;
}
[class^="ui"] .button:hover {
  background-color: #473456;
}
[class^="ui"] .spacer-h {
  width: 100%;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background-color: #3c3f4c;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 0px;
  background: #929398;
}
.q0 {
  color: #f2f5f5;
}
.q1 {
  color: #4ac441;
}
.q2 {
  color: #3fa7dd;
}
.q3 {
  color: #a24eff;
}
.q4 {
  color: #ff6942;
}
.color-red {
  color: #d43346 !important;
}
.color-redA {
  color: #ff4252 !important;
}
.color-blueA {
  color: #48edff !important;
}
.color-blueB {
  color: #3fa7dd !important;
}
.color-greenB {
  color: #4ac441 !important;
}
.color-yellowB {
  color: #faac45 !important;
}
.color-green {
  color: #80f643 !important;
}
.color-brownC {
  color: #b15a30 !important;
}
.color-brownD {
  color: #763b3b !important;
}
.color-grayA {
  color: #f2f5f5 !important;
}
.color-grayB {
  color: #c0c3cf !important;
}
.color-grayC {
  color: #929398 !important;
}
.color-grayD {
  color: #69696e !important;
}
.color-pinkA {
  color: #fc66f7 !important;
}
.color-pinkB {
  color: #de43ae !important;
}
.color-purpleA {
  color: #a24eff !important;
}
