@import "../../../css/colors.less";

@pad: 8px;

.uiGeneral {
	width: 350px;

	background-color: fade(@blackC, 85%);
	color: @white;
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	display: none;

	.title {
		flex: 1;
		color: @redA;
		height: 30px;
		text-align: center;

		&:before {
			content: '-- ';
		}

		&:after {
			content: ' --';
		}
	}

	.subtitle {
		flex: 1;
		color: @grayD;
		text-align: center;
		margin-bottom: 10px;
	}

	.btn {
		flex: 1;
		background-color: @blackA;
		color: @white;
		padding: 10px;
		text-align: center;
		cursor: pointer;

		&:hover {
			background-color: @grayD;
		}
	}

	.list {
		flex-direction: column;
		align-items: center;
		width: 100%;

		.item {
			cursor: pointer;
			display: flex;
			flex-direction: row;
			padding: 5px 0px;
			justify-content: center;

			&:hover {
				color: @yellow;

				> .name:before {
					content: '- ';
				}

				> .name:after {
					content: ' -';
				}
			}

			> * {
				
			}
		}
	}
}
