.uiGeneral {
  width: 350px;
  background-color: rgba(55, 48, 65, 0.85);
  color: #f2f5f5;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: none;
}
.uiGeneral .title {
  flex: 1;
  color: #ff4252;
  height: 30px;
  text-align: center;
}
.uiGeneral .title:before {
  content: '-- ';
}
.uiGeneral .title:after {
  content: ' --';
}
.uiGeneral .subtitle {
  flex: 1;
  color: #69696e;
  text-align: center;
  margin-bottom: 10px;
}
.uiGeneral .btn {
  flex: 1;
  background-color: #505360;
  color: #f2f5f5;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.uiGeneral .btn:hover {
  background-color: #69696e;
}
.uiGeneral .list {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.uiGeneral .list .item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
  justify-content: center;
}
.uiGeneral .list .item:hover {
  color: #ffeb38;
}
.uiGeneral .list .item:hover > .name:before {
  content: '- ';
}
.uiGeneral .list .item:hover > .name:after {
  content: ' -';
}
